@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


*{
  margin:0px;
  box-sizing: border-box;
}

html{
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

.user_info{
  top: 0;
  z-index: 1;
  width: 100%;
  position: absolute;
}

.user_box{
  font-size: 10pt;
  color: white;
  padding: 1rem 2rem;
  margin: 2rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: #9d9d9d7a;
}

.user_box img{
  width: 4rem;
}

.wallet_details{
  text-align: center;
}

.wallet_details .wall{
  position: absolute;
  right: 0;
  left: 187px;
  top: -15px;
  bottom: 0;
  margin: auto;
  color: white;
  font-size: 14pt;
  display: flex;
  font-weight: 400;
  position: absolute;
  justify-content: center;
}

.wallet_details .wall,img{
  width: 2rem;
  margin-left: .5rem;
  align-items: center;
}

.wallet_details hr{
  width: 93%;
  margin: 0rem 0rem 0rem 1.4000000000000004rem;
  align-self: center;
}

.wallet_amount{
  margin-top: 7rem;
  color: white;
  font-size: 54pt;
  font-weight: 500;
  letter-spacing: -4px;
}

.transfer{
  border: none;
  border-radius: .4rem;
  align-items: center;
  padding: 1.4rem;
  display: inline-flex;
  margin: 1.5rem .1rem;
  background-color: white;
  justify-content: space-between;
}

.transfer p{
  font-size: 8pt;
  font-weight: 500;
  color: #6f0887;
}

.transfer img{
  margin-right: 1rem;
  width: 1.5rem;
}


.gradimg{
  margin: 0px 0px 35px 0px;
  width: 100%;
  height: 352px;
  display: block;
  position: relative;
  border-radius: 0px 0px 41px 41px;
  background-image: url("../imgs/compleximg.png");
  background-size: cover;
  background-color: black;
}

.gradimg2{
  top: 12px;
  z-index: -1;
  width: 100%;
  height: 352px;
  display: block;
  position: absolute;
  border-radius: 0px 0px 41px 41px;
  /* background-size: cover; */
  background-color: #4B0753;
}

.get_loan{
  width: 90vw;
  height: 150pt;
  margin: auto;
  padding: 3rem;
  /* UI Properties */
  background: #FBFBFB 0% 0% no-repeat padding-box;
  border: 1pt solid #E5A000;
  border-radius: 10pt;
  opacity: 1;
}

.get_loan h1{
  text-align: left;
  font-size: 13pt;
  letter-spacing: 0.32pt;
  color: #1A1A1A;
  opacity: 1;
  margin-bottom: 4px;
}

.get_loan p{
  width: 316px;
  height: 32px;
  text-align: left;
  font: normal normal normal 11px/16px Aileron;
  letter-spacing: 0.61px;
  color: #707070;
  opacity: 1;
}

.get_loan button{
  font-size: 18pt;
  font-weight: 500;
  margin-top: 2rem;
  color: white;
  width: 100%;
  top: 496px;
  left: 37px;
  height: 58px;
  background: #E5A000 0% 0% no-repeat padding-box;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  opacity: 1;
}

.transaction_his{
  top: 609px;
  left: -2px;
  width: 90vw;
  max-height: 746px;
  padding: 3rem 3rem;
  margin: 1rem auto auto auto;
  background: #FBFBFB 0% 0% no-repeat padding-box;
  border-radius: 17px;
  opacity: 1;
}

.transaction{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.transaction h3{
  font-weight: 500;
  letter-spacing: .6pt;
}

.transaction hr{
  width: 13rem;
}

.transaction button{
  border: none;
  width: 7rem;
  font-size: 8pt;
  font-weight: 100;
  padding: .8rem;
  color: white;
  border-radius: 3px;
  background-color: #707070;
}

.his{
  margin: 2rem auto;
}

.trans_credit{
  height: 66px;
  padding: 1rem 2rem;
  margin: .7rem auto;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 10px;
  opacity: 1;
}

.trans_details{
  margin: .4rem 0rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.trans_debit{
  height: 66px;
  padding: 1rem 2rem;
  margin: .7rem auto;
  /* UI Properties */
  background: #FFFDE9 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 10px;
  opacity: 1;
}


/* All forms style starts here */
.gradimg_small img{
  margin: 0px 0px 35px 0px;
  width: 100vw;
  height: 82px;
  display: block;
  position: relative;
  border-radius: 0px 0px 41px 41px;
  background-size: cover;
  background-color: black;
}

.gradimg_small2{
  top: 12px;
  z-index: -1;
  width: 100%;
  height: 136px;
  display: block;
  position: absolute;
  border-radius: 0px 0px 41px 41px;
  background-color: #4B0753;
  /* background-size: cover; */
}

.top_destails{
  z-index: 1;
  position: absolute;
  padding: 2rem 4rem;
}

.notice{
  width: 103%;
  margin: auto;
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
}

.notice img{
  width: 1rem;
  margin: auto;
}

.notice button{
  top: 51px;
  left: 37px;
  width: 43px;
  height: 32px;
  background: #8A00A4 0% 0% no-repeat padding-box;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
}

.notice h2{
  font-size: 13pt;
  color: white;
}

.extra_info{
  width: 85%;
  margin: 4.6rem 3rem;
  align-self: center;
  align-content: center;
  display: inline-flex;
  justify-content: space-between;
}

.extra_info img{
  width: 4rem;
  margin-right: 1rem;
}

.extra_info p{
  font-size: 8pt;
  color: white;
}

.progress{
  margin: 6rem ;
 justify-content: center;
}

.bar{
  width: 10px;
  height: 3px;
  border-radius: 10px;
  background-color: #BDBABE;
}

/* display page starts here */
.display_bg{
  width: 100%;
  height: 100vh;
  display: block;
  position: relative;
  background-image: url("../imgs/compleximg.png");
  background-size: cover;
}

.land_icon{
  max-height: 100%;
  z-index: 1;
  left: 50px;
  right: 50px;
  top: 300px;
  bottom: 200px;
  margin: 10rem;
  position: absolute;
}

.land_icon img{
  width: 9rem;
  /* margin: auto; */
}

/* profile starts here */
.user_notice{
  width: 99%;
  margin: auto;
  z-index: 1;
  padding: 2rem;
  position: absolute;
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
}

.user_notice img{
  width: 1rem;
  margin: auto;
}

.user_notice button{
  top: 51px;
  left: 37px;
  width: 43px;
  height: 32px;
  background: #8A00A4 0% 0% no-repeat padding-box;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
}

.user_notice h2{
  font-size: 15pt;
  color: white;
}

.user_img img{
  margin: auto;
}

.user_img img{
  width: 22rem;
  z-index: 1;
  top: -515px;
  left: 0;
  bottom: 0;
  right: 0;
  /* margin: auto; */
  position: absolute;
}

.use_name{
  font-weight: 500;
  font-size: 42px;
  text-align: center;
  color: #FFFFFF;
}

.user_gradimg{
  margin: 0px 0px 10px 0px;
  width: 100%;
  height: 352px;
  display: block;
  position: relative;
  border-radius: 0px 0px 41px 41px;
  background-image: url("../imgs/compleximg.png");
  background-size: cover;
  background-color: black;
}

.user_gradimg2{
  top: 75px;
  z-index: -1;
  width: 100%;
  height: 352px;
  display: block;
  position: absolute;
  border-radius: 0px 0px 41px 41px;
  background-color: #4B0753;
}

.profile_details{
  max-height: 100%;
  margin: 3rem 2rem 1rem 2rem;
}

.trans_details img{
  margin-bottom: 1px;
}

.trans_details .open{
  width: 1rem;
}

.trans_details .log{
  width: 1.5rem
}

.gap{
  margin-top: 1.2rem;
}



.menu-holder{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1rem;
  z-index: 5;
}

.menu{
  width: min-content;
  background: #fff;
  padding: .5rem 1rem;
  border: 1px solid #111;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.menu ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-left: -3rem;
}

.menu ul li{
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.menu ul li ion-icon{
  font-size: 3rem;
}

.icon-title{
  font-size: 1rem;
}


.menu ul li a{
  text-decoration: none;
  color: inherit;
}

.active-link{
  color: #6f0887;
}